<!DOCTYPE html>
<html>
    <head>
	<link href="//fonts.googleapis.com/css?family=Pacifico"rel=stylesheet type=text/css>
	<style type=text/css>input.middle:focus{outline-width:0}:focus{outline:0}h1{font-family:pacifico}div{font-family:courier;word-wrap:break-word;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;box-shadow:rgba(0,0,0,.8) 0 0 10px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:10px}</style>
    </head>
    <body>
    <center>
		<h1>Lyrican</h1>
		<div style=background-color:black;width:70%>
			<form action=. method=post align=left autocomplete=off>
				&nbsp;<label for=search style=color:#fff>></label>&nbsp;<input style=border:0;background-color:#000;color:#fff;font-size:1em name=search size="30" autofocus> &nbsp;<input type=submit name=my-form value=Run id=search style=height:0;width:0;border:none;padding:0>
				<p style=color:#fff>{{out|safe}}
			</form>
			<hr>
			<p style=color:#fff align=left><strong>times_said artist word:</strong><br>returns the number of times artist has said word.<br><strong>top_words artist number=10 score=uni:</strong><br>Returns the top number words from artist. One may specify the metric as pop or uni, times used and uniqueness, respectively.<br><strong>diff artist1 artist2:</strong><br>Returns the difference between two artists.<br><strong>sim artist1 n=10:</strong><br>Returns n artists similar (using diff) to artist1.<br><strong>list_artists:</strong><br>Returns the list of artists in the Lyrican database.<br>&nbsp;
		</div>
	</center>
    </body>
</html>